
body, html,#Trace{width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
#header{
    position: fixed;
    width: 100%;
    height:10%;
    top:10px;
    left:20px;
    display:block;
    z-index: 3;
}
#gantt_right{
    padding:0;
    margin: 0;
    position:absolute;
    right:0;
    top:0;
    height: 100%;
    width: 15px;
    text-align: center;
    border: none;

}
#Gantt{
    background-color: white;
    padding:0;
    width:1000px;
    margin-left: -985px;
    height:90%;
    position: fixed;
    z-index:2;
    top:10%;
}
#container{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:1;
}
#Trace,#mergeContainer{
    width:100%;
    height:100%;
    display:block;
}

#colorScalelinear,#mergeColorScalelinear{
    position: fixed;
    width:20px;
    height:100px;
    bottom: 30px;
    right: 40px;
    z-index: 4;
}
#word,#mergeWord{
    position: fixed;
    width:20px;
    height:100px;
    bottom: 30px;
    right: 18px;
    padding: 0;
}
#max,#mergeMax{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: small;
}
#min,#mergeMin{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: small;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.a {
    fill: rgb(91, 55, 46);
}

.b {
    fill: rgb(152, 67, 42);
}

.c {
    fill: rgb(211, 80, 40);
}

.d{
    fill:rgb(230, 108, 51);
}

.e{
    fill: rgb(236, 143, 67);
}

.f{
    fill: rgb(242, 177, 84);
}

.g{
    fill:rgb(249, 212, 100);
}

.h{
    fill:rgb(253, 236, 124);
}

#num .input-group-addon{
    height: 20px;
    width: 40px;
    margin: 0;
    font-size: xx-small;
    border: none;
}
#num div{
    padding: 0;
    margin:0;
    border: none;
}

#label div{
    padding:0;
    margin: 0;
    border:none;
}

#label .input-group-addon{
    height:20px;
    width:40px;
    margin: 0;
    border:none;
}